extends dashboard
block content
    h1 Interior Images
    <div class="marks">
        <h1 class="orange">#{interiors.length || "loading..."}</h1>
        <p>Total Images</p>
    </div>
    each el in interiors    
        <div class="cardz">
            //- <img src="/images/team/$.jpg" alt="team-img" style="width:100%">
            img(src=`/images/interiors/${el.img}`, alt=`${el.img}` style="width:40%")
            h1=el.heading
            //- <p class="titlez">CEO & Founder, Example</p>
            <p>#{el.description}</p>
            a(href=`/admin/admin-intr/${el.slug}`)
                <button class="team-btn">Delete</button>
        </div>
    link(rel="stylesheet", href="/css/admin-team.css")
    <div class="notification team-form bg-lightgrey" style="border: 2px solid black; padding:10px;">
        h1 Add Image
        <form action="/admin/admin-intr", method="POST" enctype="multipart/form-data" style="padding:5%">
            <input type="text", placeholder="Name", name="heading" required >
            textarea(name="description", cols="30", rows="10" required)
            h3 Select Pic
            input(type="file", name="intr" accept="image/x-png,image/gif,image/jpeg, image/jpg" required)
            <input type="submit" value="submit" class="team-btn" required>
        </form>
    </div>